{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set regionWrapperClasses = [
    'region-wrapper',
    'region--' ~ region|clean_class ~ '--wrapper',
  ]
%}
{%
  set regionClasses = [
    'region',
    'region--' ~ region|clean_class,
  ]
%}
{%
  set regionBodyClasses = [
    'region--body',
    'region--' ~ region|clean_class ~ '--body',
  ]
%}

{% if content %}
  <div{{ attributes_wrapper.addClass(regionWrapperClasses) }}>
    <div{{ attributes.addClass(regionClasses).addClass(theme.settings.container.class) }}>
      <div{{ attributes_body.addClass(regionBodyClasses) }}>
        {{ content }}
      </div>
    </div>
  </div>
{% endif %}
